<div class="car">
    <app-banner title="ECU Remapping"></app-banner>
    <div class="container ">
        <div class="row ">
            <!-- <h4 class="white saira title  titleSection" style="margin-bottom: 0;">
                ECU Remapping
            </h4> -->

        </div>
        <div class="row">
            <p class="white saira descriptionSection">
                We offer bespoke Car remaps and ECU remapping from our Oxfordshire based tuning centre. Using our state
                of the art software and equipment, we will modify your cars ECU to improve both performance and economy.
                We offer a 14 day money back guarantee and lifetime warranty on all our software with all our remaps

            </p>
        </div>

        <div class="row">
            <h4 class="white saira subtitleSection">
                What are the benefits?
            </h4>
        </div>

       
            <ul style="padding-bottom: 0;margin-bottom: 8px;">
                <li class="white saira"><i class="material-icons">check</i> Up to 30% more BHP</li>
                <li class="white saira"><i class="material-icons">check</i> Up to 40% more torque</li>
                <li class="white saira"><i class="material-icons">check</i> Up to 20% more MPG’s</li>
                <li class="white saira"><i class="material-icons">check</i> Flat spots removed, and throttle response sharpened</li>

            </ul>
            <div class="row">
                <p class="white saira descriptionSection" style="margin-top: 0;padding-top:0">
                    For specific quotes on power or fuel please contact us.
                </p>
            </div>

            <div class="row">
                <h4 class="white saira subtitleSection">
                    How much does a remap cost?
                </h4>
            </div>
            <div class="row">
                <p class="white saira descriptionSection" style="margin-top: 0;padding-top:0">
                    All our remaps cost £249.99 which includes:
                </p>
            </div>
            <ul style="padding-bottom: 0;margin-bottom: 8px;">
                <li class="white saira"><i class="material-icons">check</i> One on one consultation with our tuner to discuss your exact needs</li>
                <li class="white saira"><i class="material-icons">check</i> Dealer level fault code reading before and after uploading the map to ensure your vehicle is running perfectly</li>
                <li class="white saira"><i class="material-icons">check</i> Fault report emailed to customer</li>
                <li class="white saira"><i class="material-icons">check</i> Both data banks of ECU read</li>
                <li class="white saira"><i class="material-icons">check</i> Battery stabilisation throughout</li>
                <li class="white saira"><i class="material-icons">check</i> A custom written remap for your car – no ‘off the shelf’ maps</li>
                <li class="white saira"><i class="material-icons">check</i>Cloud based storage of both your original and tuned file for future use</li>
                <li class="white saira"><i class="material-icons">check</i> 14 day money back guarantee and lifetime warranty on all our software</li>
            </ul>

            <div class="row" style="justify-content: center;margin-top: 5vh;">
                <h5 class="white saira" style="text-align: center;font-size: 18px;">Hire car available for all bookings</h5>
        
            </div>
            <div class="row" style="justify-content: center;">
                <a href="https://oxfordperformanceautos.simplybook.it/v2/" class="btn buttonOrange " style="width:150px;justify-content: center;" >
                    <div class="saira" style="margin-bottom:0;margin-top: 2px;">BOOK NOW
                       
                    </div>
                </a>
            </div>

            <app-contact-banner></app-contact-banner>
        <div class="row " >
            <h4 class="white saira descriptionSection " style="margin-top: 15px;text-align: left !important;">
                Ask us about exclusive discounts for Military, Police, Fire, NHS staff, motor trade and Taxis
            </h4>

        </div>
    
            
            <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="bottom: -35px !important;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                    </ol>
                    <div class="carousel-inner">
                        
                        <div class="carousel-item active" style="max-height: 300px !important;">
                             <div style="display:flex"> 
                            <img class="d-block colImage img-fluid mh"  src="../../../assets/remapping1.jpg"
                                alt="First slide">
                                
                                <div class="none">
                                    <img class="d-block col-12  img-fluid mh"  src="../../../assets/remapping2.png"
                                        alt="Second slide">
                                </div>
                                </div> 
                         </div> 
                        <div class="carousel-item " style="max-height: 300px;" >
                             <div style="display:flex"> 
                                 <img class="d-block colImage img-fluid mh"  src="../../../assets/remapping2.png" 
                                    alt="Second slide">
                                    <div class="none">
                                        <img class="d-block col-12  img-fluid mh" src="../../../assets/remapping1.jpg"
                                            alt="Second slide">
                                    </div>
                                    </div>  
                        </div>  
  
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
       
            </div>
        </div>

       
    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
