<div class="car">
    <app-banner title="CONTACT US"></app-banner>
    <div class="container ">




        <div class="row ">
            <i class="material-icons white icon" style="margin-top:42px;">email</i>
            <a href="mailto:sales@oxfordperformanceautos.com" class="white saira descriptionSection "
                style="margin-top: 40px;">
                sales@oxfordperformanceautos.com
            </a>

        </div>
        <div class="row " style="display:flex">
            <i class="material-icons white icon" style="margin-top:20px;">home</i>
            <a href="https://www.google.com.ar/maps/place/Oxford+Performance+Autos/@51.8185965,-1.4138702,15z/data=!4m5!3m4!1s0x4876ccdb93230f75:0x775f3fd4a97c16aa!8m2!3d51.8195654!4d-1.4090394"
                class="white saira descriptionSection  address" style="margin-top: 20px;">
                Unit 17, Freeland Industrial Estate, Wrosyln Road, Freeland, Oxfordshire, OX298HZ
            </a>

        </div>
        <div class="row ">
            <i class="material-icons white icon" style="margin-top:25px;margin-bottom: 75px;">local_phone</i>
            <a href="tel:01993 881403" class="white saira descriptionSection " style="margin-top: 20px;">
                01993 881403
            </a>

        </div>






    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
