<div class="row " >
    <div style="margin-top: 50px;display:flex">
        <i class="material-icons white" style="margin-top:15px;margin-right: 10px;font-size: 30px;">person_pin</i>    
        <h4 class="white saira subtitleSection " style="font-size: 30px;" >
            Contact us
        </h4>
    </div>
</div>


<div class="row " >
    <i class="material-icons white icon" style="margin-top:8px;">local_phone</i>    
    <a href="tel:01993 881403" class="white saira descriptionSection " style="margin-top: 10px;">
         01993 881403
    </a>

</div>
<div class="row " >
    <i class="material-icons white icon" style="margin-top:4px;">email</i>    
    <a href="mailto:sales@oxfordperformanceautos.com" class="white saira descriptionSection " style="margin-top: 10px;">
        sales@oxfordperformanceautos.com  
</a>

</div>
<div class="row " style="display:flex">
    <i class="material-icons white icon" style="margin-top:5px;">home</i> 
    <a href="https://www.google.com.ar/maps/place/Oxford+Performance+Autos/@51.8185965,-1.4138702,15z/data=!4m5!3m4!1s0x4876ccdb93230f75:0x775f3fd4a97c16aa!8m2!3d51.8195654!4d-1.4090394" 
    class="white saira descriptionSection  address" style="margin-top: 10px;">
         Unit 17, Freeland Industrial Estate, Wrosyln Road, Freeland, Oxfordshire, OX298HZ
    </a>

</div>