<div class="car">
    <app-banner title="WHEEL PART EXCHANGE"></app-banner>

    <div class="container">

        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;">
                If you own any of the wheels shown below we can exchange them with our wheels giving you a professional
                refurbishment and back on the road in under an hour. We offer a like for like part exchange service with
                wheels we own. Our wheels have been professionally striped and powder coat refurbished by us. We don’t
                charge a premium for this service, it’s the same price as our usual refurbished. Simply book in, we will
                swap your wheels and tyres including all balancing and have you back on the road in no time
            </p>
        </div>

        <div class="row item">
           <div>
               <div class="imageItem ">
               <img class="d-block colImage img-fluid_1 mh" src="../../../assets/Audi-Ronal-18.jpeg">    
                   <h4 class="white saira subtitleSection text">
                       Audi Ronal 18 inch
                   </h4>
               </div>

           </div>
        
           
            <h4 class="white saira subtitleSection ">
                £260
            </h4>
        </div>
        <div class="row item">
            <div>
                <div class="imageItem">
                <img class="d-block colImage img-fluid_1 mh" src="../../../assets/BMW-M3-E46-19.jpeg">    
                    <h4 class="white saira subtitleSection text">
                        BMW M3 E46 19 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £340
             </h4>
         </div>
         <div class="row item">
            <div>
                <div class="imageItem">
                <img  class="d-block colImage img-fluid_1 mh" src="../../../assets/BMW-MV3-18.jpeg">    
                    <h4 class="white saira subtitleSection text">
                        BMW MV3 18 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £260
             </h4>
         </div>
         <div class="row item">
            <div>
                <div class="imageItem">
                <img  class="d-block colImage img-fluid_1 mh" src="../../../assets/BMW-442M-19.jpeg">    
                    <h4 class="white saira subtitleSection text">
                        BMW 442M 19 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £340
             </h4>
         </div>
         <div class="row item">
            <div>
                <div class="imageItem">
                <img class="d-block colImage img-fluid_1 mh" src="../../../assets/Ford-Fiesta-ST-17.jpeg">    
                    <h4 class="white saira subtitleSection text">
                       Ford Fiesta ST 17 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £240
             </h4>
         </div>
         
         <div class="row item">
            <div>
                <div class="imageItem">
                <img class="d-block colImage img-fluid_1 mh" src="../../../assets/Ford-Focus-ST-18.jpeg">    
                    <h4 class="white saira subtitleSection text">
                       Ford Focus ST 18 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £240
             </h4>
         </div>
         
         <div class="row item">
            <div>
                <div class="imageItem">
                <img class="d-block colImage img-fluid_1 mh" src="../../../assets/Mini-style-1-gloss-black-or-white-finish-17.jpeg">    
                    <h4 class="white saira subtitleSection text">
                       Mini style 1 gloss black or white finish 17 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £240
             </h4>
         </div>
         
         <div class="row item">
            <div>
                <div class="imageItem">
                <img  class="d-block colImage img-fluid_1 mh" src="../../../assets/Mini-style-2-17.jpeg">    
                    <h4 class="white saira subtitleSection text">
                       Mini style 2 17 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £240
             </h4>
         </div>
         
         <div class="row item">
            <div>
                <div class="imageItem">
                <img  class="d-block colImage img-fluid_1 mh" src="../../../assets/Mini-Style-3-17.jpeg">    
                    <h4 class="white saira subtitleSection text">
                       Mini style 3 17 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £240
             </h4>
         </div>
         
         <div class="row itemNoMargin">
            <div>
                <div class="imageItem">
                <img class="d-block colImage img-fluid_1 mh" src="../../../assets/Volkswagen-Golf-GT-16.jpeg">    
                    <h4 class="white saira subtitleSection text">
                    Volkswagen Golf 16 inch
                    </h4>
                </div>
 
            </div>
            
             <h4 class="white saira subtitleSection ">
                 £360
             </h4>
         </div>
 







    </div>

</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
