<div class="car">
    <app-banner title="KEY WORKER/TRADE DISCOUNT"></app-banner>
    <div class="container ">

        <div class="row firstMargin">
            <h4 class="white saira subtitleSection">
                Keyworker discount
            </h4>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="margin-top: 0;padding-top:0">
                We are proud to support our fantastic NHS, Police, Fire and Military staff by offering them a 10%
                discount on window tinting, ECU remaps and alloy wheel refurbishment.
            </p>
        </div>

        <div class="row">
            <h4 class="white saira subtitleSection">
                Taxi and private hire
            </h4>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="margin-top: 0;padding-top:0">
                We offer trade discount of 10% off on wheel refurbishment, window tinting and ECU remapping for all taxi
                drivers, chuffers and private hire drivers for on their work vehicle
            </p>
        </div>
        <div class="row">
            <h4 class="white saira subtitleSection">
                Trade discount
            </h4>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="margin-top: 0;padding-top:0">
                We offer an extremely competitive trade rate to all car dealers, body shops and mechanics. The discount is based on volume of work, please contact us to discuss your requirements, we will beat your existing prices for like for like work.
            </p>
        </div>
 

    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
