<div class="car">
  <app-banner title="Diamond Cut Alloy Wheels: Aston Martin Vantage"></app-banner>
  <div class="container ">
    
<br>
<br>

<div class="row ">
  <h5 class="white saira" style="font-size: 30px"> Diamond Cut Alloy Wheels: Aston Martin Vantage</h5>
</div>
  <h6 class="white saira" style="font-size: 25px"> About </h6>
      <p style="font-size: 15px">
        The Aston Martin Vantage is a series of hand-built sports cars from Aston Martin. Aston Martin has previously used the “Vantage” name on high-performance variations of their existing GT models.
This modern car, is the leanest and most agile car in Aston’s lineup.</p><p> As such, it is intended as a more focused model to reach out to potential buyers of cars such as the Porsche 911 as well as the exotic sports and GT cars with which Aston Martins traditionally compete.
Production of the V8 Vantage came to an end in 2017 while production of the V12 Vantage continued until 2018.</p><p>In November 2017, Aston Martin unveiled a new redesigned Vantage. The new model was unveiled in 2017 and began production in 2018.
The car was unveiled at the AMV8 Vantage concept car in 2003 at the North American International Auto Show designed by Henrik Fisker.</p><p> The production version, known as the V8 Vantage was introduced at the Geneva Motor Show two years later in 2005. The two seat, two-door coupé has a bonded aluminium structure for strength and lightness. The 4.38m long car features a hatchback-style tailgate, with a large luggage shelf behind the seats. In addition to the coupé, a convertible, known as the V8 Vantage Roadster, was introduced later in 2005.
      </p>
  <h6 class="white saira" style="font-size: 25px"> Our Work </h6>
      <p style="font-size: 15px">
        Our work on this vehicle consisted of 4 x diamond cut alloy wheels, colour change and full refurbishment. We also performed work painting the callipers red.
      </p>
      <p style="font-size: 15px">
        View our work below:          
      </p>
      <div class="row" style="margin-top: 40px;">
        <div class="col-xs-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="bottom: -35px !important;">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                </ol>
                <div class="carousel-inner">
                    
                    <div class="carousel-item active" style="max-height: 300px !important;">
                         <div style="display:flex"> 
                        <img class="d-block colImage img-fluid_1 mh"  src="../../../assets/second/tumblr_inline_poq24fyvrJ1wwlyii_1280.jpg"
                            alt="First slide">
                            
                            <div class="none">
                                <img class="d-block col-12 img-fluid_1 mh"  src="../../../assets/second/tumblr_inline_poq24gsRjG1wwlyii_1280.jpg"
                                    alt="Second slide">
                            </div>
                            </div> 
                     </div> 
                    <div class="carousel-item " style="max-height: 300px;" >
                         <div style="display:flex"> 
                             <img class="d-block colImage img-fluid_1 mh"  src="../../../assets/second/tumblr_inline_poq24kfolp1wwlyii_1280.jpg" 
                                alt="Second slide">
                                <div class="none">
                                    <img class="d-block col-12 img-fluid_1 mh" src="../../../assets/second/tumblr_inline_poq24mIrP31wwlyii_1280.jpg"
                                        alt="Second slide">
                                </div>
                        </div>  
                    </div>  

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
   
        </div>
    </div>



  </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-127299225-1');
</script>