<div class="car">
  <app-banner title="Alloy Wheels Land Rover Discovery 5 Commercial"></app-banner>
  <div class="container ">


<br>
<br>

      <div class="row ">
        <h5 class="white saira" style="font-size: 30px"> Alloy Wheels: Land Rover Discovery 5 Commercial </h5>
      </div>
        <h6 class="white saira" style="font-size: 25px"> About </h6>
            <p style="font-size: 15px">
              Land Rover Discovery is a series of luxury SUV’s produced by Jaguar Land Rover.
              There have been five generations of the vehicle, with the first being introduced in 1989. The second called the Series II update was introduced in 1998, and the third generation, titled Discovery 3, launched in 2004. The fourth in 2009 was the Discovery 4—Land Rover LR4 for North American markets. The fifth generation Discovery was introduced in 2017.
            </p>
        <h6 class="white saira" style="font-size: 25px"> The 5th Generation Discovery </h6>
            <p style="font-size: 15px">
              he fifth-generation Discovery was unveiled in the grounds of Packington Hall, on 28 September 2016 (the eve of the 2016 Paris Motor Show). The vehicle then went on sale in the UK in February 2017.
When looking at its profile, the exterior design is also very similar to the small Discovery Sport model but the new Discovery 5 incorporates many changes. For the first time, the Discovery is based around Land Rover’s aluminium architecture with the use of aluminium chassis and body panels.
Available in both petrol and Diesel engines, the Discovery 5’s are also equipped with a standard 8 speed automatic transmission.
            </p>
        <h6 class="white saira" style="font-size: 25px"> Our Work </h6>
            <p style="font-size: 15px">
              We were tasked with carrying out a full wheel refurbishment on the custom 23” alloy wheels.
            </p>
            <p style="font-size: 15px">
              View our work below:          
            </p>

            <div class="row" style="margin-top: 40px;">
              <div class="col-xs-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators" style="bottom: -35px !important;">
                          <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
  
                      </ol>
                      <div class="carousel-inner">
                          
                          <div class="carousel-item active" style="max-height: 300px !important;">
                               <div style="display:flex"> 
                              <img class="d-block colImage img-fluid_1 mh"  src="../../../assets/first/tumblr_inline_pmk6i7th8n1wwlyii_1280.jpg"
                                  alt="First slide">
                                  
                                  <div class="none">
                                      <img class="d-block col-12  img-fluid_1 mh"  src="../../../assets/first/tumblr_inline_pmk6i8PYJR1wwlyii_1280.jpg"
                                          alt="Second slide">
                                  </div>
                                  </div> 
                           </div> 
                          <div class="carousel-item " style="max-height: 300px;" >
                               <div style="display:flex"> 
                                   <img class="d-block colImage img-fluid_1 mh"  src="../../../assets/first/tumblr_inline_pmk6i8PYJR1wwlyii_1280.jpg" 
                                      alt="Second slide">
                                      <div class="none">
                                          <img class="d-block col-12  img-fluid_1 mh" src="../../../assets/first/tumblr_inline_pmk6innoS91wwlyii_1280.jpg"
                                              alt="Second slide">
                                      </div>
                                      </div>  
                          </div>  
    
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
         
              </div>
          </div>

  </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-127299225-1');
</script>