<div class="footer" style="border-top: 0">
  <div class="row" style="border-top: 0">
    <div class="white saira" style="color: white; max-width: 345px">
      <h5 style="text-align: center">
        Subscribe to our newsletter to receive an exclusive discount code
      </h5>
    </div>
  </div>
  <div class="enter-mail-input-container">
    <input
      type="text"
      class="size"
      placeholder="Enter your mail"
      [(ngModel)]="mail"
    />
  </div>
  <div class="subscribe-container">
    <div class="subscribe-button">
      <a class="btn size buttonOrange" (click)="subscribe()">SUBSCRIBE</a>
    </div>
  </div>
</div>
