<div class="car">
<app-banner title="GALLERY"></app-banner>
<div class="container" style="padding-top:20px">
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(1)" width="272" height="181" src="../../../assets/Audi-Ronal-18.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(2)" width="272" height="181" src="../../../assets/BMW-M3-E46-19.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(3)" width="272" height="181" src="../../../assets/BMW-MV3-18.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(4)" width="272" height="181" src="../../../assets/BMW-442M-19.jpeg">
    </div>
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(6)" width="272" height="181" src="../../../assets/Ford-Focus-ST-18.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(7)" width="272" height="181" src="../../../assets/Mini-style-1-gloss-black-or-white-finish-17.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(8)" width="272" height="181" src="../../../assets/Mini-style-2-17.jpeg">
        <img class="imgView delayedShow"  (click)="openDialog(5)" width="272" height="181" src="../../../assets/Ford-Fiesta-ST-17.jpeg">
    </div>

    <div class="row" >
        <img class="imgView delayedShow" (click)="openDialog(9)" width="272" height="181" src="../../../assets/Mini-Style-3-17.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(10)" width="272" height="181" src="../../../assets/Volkswagen-Golf-GT-16.jpeg">
        <img class="imgView delayedShow" (click)="openDialog(11)" width="272" height="181" src="../../../assets/home3.jpg">
        <img class="imgView delayedShow" (click)="openDialog(12)" width="272" height="181" src="../../../assets/home2.jpg">
    </div>
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(13)" width="272" height="181" src="../../../assets/home1.jpg">
        <img class="imgView delayedShow" (click)="openDialog(14)" width="272" height="181" src="../../../assets/repair4.jpg">
        <img class="imgView delayedShow" (click)="openDialog(15)" width="272" height="181" src="../../../assets/repair1.jpg">
        <img class="imgView delayedShow" (click)="openDialog(16)" width="272" height="181" src="../../../assets/repair2.jpg">
    </div>
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(17)" width="272" height="181" src="../../../assets/rapair3.jpg">
        <img class="imgView delayedShow" (click)="openDialog(18)" width="272" height="181" src="../../../assets/repair4.jpg">
        <img class="imgView delayedShow" (click)="openDialog(19)" width="272" height="181" src="../../../assets/automotiveTints3.jpg">
        <img class="imgView delayedShow" (click)="openDialog(20)" width="272" height="181" src="../../../assets/automotiveTints2.jpg">
    </div>
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(21)" width="272" height="181" src="../../../assets/automotiveTints4.jpg">
        <img class="imgView delayedShow" (click)="openDialog(22)" width="272" height="181" src="../../../assets/automotiveTints1.jpg">
        <img class="imgView delayedShow" (click)="openDialog(23)" width="272" height="181" src="../../../assets/remapping1.jpg">
        <img class="imgView delayedShow" (click)="openDialog(24)" width="272" height="181" src="../../../assets/remapping2.png">
    </div>
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(25)" width="272" height="181" src="../../../assets/engine1.png">
        <img class="imgView delayedShow" (click)="openDialog(26)" width="272" height="181" src="../../../assets/engine2.jpg">
        <img class="imgView delayedShow" (click)="openDialog(27)" width="272" height="181" src="../../../assets/wrapping2.jpg">
        <img class="imgView delayedShow" (click)="openDialog(28)" width="272" height="181" src="../../../assets/wrapping1.jpg">
    </div>
    <div class="row">
        <img class="imgView delayedShow" (click)="openDialog(29)" width="272" height="181" src="../../../assets/wrapping3.jpg">
    
    </div>


</div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
