<div class="contactBar"  >

    <div class="numberMail">
      <div class="item white saira " style="margin-right: 15px;">
        <i class="material-icons" style="font-size: 18px;margin-right:5px;margin-top:2px;">local_phone</i><a  href="tel:01993 881403" class="white saira over">01993 881403</a> 
      </div>
      <div class="item saira white">
        <i class="material-icons" style="font-size: 18px;margin-right:5px;margin-top:3px">email</i><a  href="mailto:sales@oxfordperformanceautos.com"   class="white saira over">sales@oxfordperformanceautos.com</a>  
        </div>
      
        
    </div>
    <div class="icons">
      <a class="icon-container" href="https://www.facebook.com/Oxfordperformanceautos/" style="margin-right: 10px;">
        <img height="18" width="18" class="icon" style="margin-top: 1px;"  src="../../../assets/facebook.png">
      </a>
      <a class="icon-container" href="https://www.instagram.com/explore/locations/1018631873/oxford-performance-autos">
        <img height="20" width="20" class="icon" style="margin-top: 2px;" src="../../../assets/instagram.png">
      </a>
    </div>
  
</div>
<div style="background:#1c1c1c">
<nav [ngStyle]="setTop()" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark background">
  <img src="../../../assets/logo.png" class="margin" width="60" height="40">
  <button class="navbar-toggler noborder" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item  margin">
        <a class="nav-link" [routerLink]="['']" style="color:white">
          HOME </a>
      </li>

      
      <li class="nav-item dropdown margin">
        <a class="nav-link dropdown-toggle drop" href="#" id="navbarDropdown" style="color:white" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WINDOW TINTING
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['automotive-tints']" style="color:white">Automotive Tints</a>
          <a class="dropdown-item" [routerLink]="['property-tints']" style="color:white">Property Tints</a>
          <a class="dropdown-item" [routerLink]="['trade_window_tinting']" style="color:white">Trade Window Tinting </a>
          <a class="dropdown-item" [routerLink]="['window-tinting-FAQ']" style="color:white">Window tinting FAQ </a>

        </div>
      </li>
   
      <li class="nav-item dropdown margin">
        <a class="nav-link dropdown-toggle drop" href="#" id="navbarDropdown" style="color:white" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ALLOY WHEELS
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['repair-refurbishment']" style="color:white;padding-left:5px">Repair &
            Refurbishment</a>
          <a class="dropdown-item" [routerLink]="['wheel-part-exchange']" style="color:white;padding-left:5px">Wheel
            Part Exchange</a>
          <a class="dropdown-item" [routerLink]="['trade_wheel_refurbishment']" style="color:white;padding-left:5px">Trade wheel refurbishment
          </a>
          <a class="dropdown-item" [routerLink]="['wheel-refurbishment-FAQ']" style="color:white;padding-left:5px">Wheel 
            refurbishment FAQ</a>

        </div>
      </li>

      <!-- <li class="nav-item  margin">
          <a class="nav-link" style="color:white"> 
            WINDOW TINTING </a>
        </li> -->
      <!-- <li class="nav-item  margin">
          <a class="nav-link" style="color:white"> 
            ALLOY WHEELS </a>
        </li> -->
      <li class="nav-item  margin">
        <a class="nav-link" [routerLink]="['remapping']" style="color:white">
          REMAPPING </a>
      </li>

      <li class="nav-item  margin">
        <a class="nav-link" [routerLink]="['engine-carbon-cleaning']" style="color:white">
          ENGINE CARBON CLEANING </a>
      </li>

      <li class="nav-item  margin">
        <a class="nav-link" [routerLink]="['vehicle-wrap']" style="color:white">
          VEHICLE WRAP </a>
      </li>

      <li class="nav-item  margin">
        <a class="nav-link" [routerLink]="['valeting']" style="color:white">
          VALETING </a>
      </li>

      <li class="nav-item  margin">
        <a class="nav-link" [routerLink]="['tyresearch']" style="color:white">
          TYRE SEARCH </a>
      </li>


      <li class="nav-item  margin">
        <a class="nav-link" href="https://oxfordperformanceautos.simplybook.it/v2/" style="color:white">
          BOOK ONLINE </a>
      </li>

      <!-- <li class="nav-item dropdown margin" >
          <a class="nav-link dropdown-toggle drop"  href="#" id="navbarDropdown" style="color:white" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SHOPPING
          </a>
          <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" style="color:white;padding-left:5px">Book online</a>
            <a class="dropdown-item"  [routerLink]="['cart']" style="color:white;padding-left:5px">View Cart</a>
            <a class="dropdown-item"  [routerLink]="['checkout']" style="color:white;padding-left:5px">Checkout</a>
         
          </div>
        </li> -->
      <li class="nav-item dropdown margin">
        <a class="nav-link dropdown-toggle drop" href="#" id="navbarDropdown" style="color:white" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ABOUT
        </a>
        <div class="dropdown-menu drop left" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['gallery']" style="color:white;padding-left:5px">Gallery</a>
          <a class="dropdown-item" [routerLink]="['contact-us']" href="#" style="color:white;padding-left:5px">Contact
            us</a>
          <!-- <a class="dropdown-item" href="#" style="color:white;padding-left:5px">Blog</a> -->

          <a class="dropdown-item" [routerLink]="['key-discount']" style="color:white;padding-left:1px">Key Worker/Trade
            Discount</a>
            <a class="dropdown-item" [routerLink]="['blog']" style="color:white;padding-left:1px">Blog</a>
        </div>
      </li> 

      <!-- <li class="nav-item   margin">
          <a class="nav-link" [routerLink]="['cart']" style="color:white">VIEW CART</a>
        </li>
        <li class="nav-item margin">
          <a class="nav-link" [routerLink]="['checkout']" style="color:white">CHECKOUT</a>
        </li> -->

      <!-- <li class="nav-item margin">
          <a class="nav-link"  href="https://www.oxfordperformanceautos.com/">BACK HOME </a>
        </li>  -->

    </ul>
  </div>

</nav>
</div>
