<div class="car">
<app-banner title="VEHICLE WRAPPING"></app-banner>
    <div class="container ">
        <div class="row title saira white descriptionSection" style="text-align: center;">

            <p style="justify-content: center;margin-bottom: 0">
         
                Car vinyl wrapping from our Oxfordshire based workshop. We specialise in vehicle de-Chrome wrapping as
                well
                as other options such as roof, bonnet and wing mirrors.

            </p>
        </div>

        <div class="row title saira white descriptionSection" style="text-align: center;padding-top:0;margin-top:0">

            <p style="justify-content: center;margin-bottom: 0;">

                Ask about our dechrome packages for your vehicle, we specialise in dechroming Tesla, Audi, BMW, Mini and
                many others
                We offer an amazing “blackout package” deal, this combines dechroming with window tinting and wheel
                refurbishments to give your car a fully blacked out look – Save up to £350 with this incredible package,
                contact our team today to get a quote.

            </p>
        </div>

        <div class="row title saira white descriptionSection" style="text-align: center;padding-top:0;margin-top:0">

            <p style="justify-content: center;">

                We are approved stockists of 3M, Hexis, KPMF, Arlon and Avery car wraps, providing a huge choice
                including gloss, matte, carbon, chrome and satin finishes in a variety of colours. With years of
                experience and a fully stocked workshop our staff are ready to transform your car.
                Add an engine carbon clean to your booking for only £75 – restore lost power and economy.

            </p>
        </div>

        <div class="row" style="justify-content: center;margin-top:2vh">
            <a href="https://oxfordperformanceautos.simplybook.it/v2/" class="btn buttonOrange " style="width:150px;justify-content: center;" >
                <div  class="saira" style="margin-bottom:0;margin-top: 2px;">BOOK NOW
                   
                </div>
            </a>
        </div>

        <app-contact-banner></app-contact-banner>
        <div class="row ">
            <h4 class="white saira descriptionSection " style="margin-top: 15px;text-align: left !important;">
                
                Ask us about exclusive discounts for Military, Police, Fire, NHS staff, motor trade and Taxis
            </h4>

        </div>
        

        
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="bottom: -35px !important;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

                    </ol>
                    <div class="carousel-inner">
                        
                        <div class="carousel-item active" style="max-height: 300px !important;">
                            <div style="display:flex">
                            <img class="d-block colImage img-fluid mh"  src="../../../assets/wrapping1.jpg"
                                alt="First slide">
                                <div class="none">
                                    <img class="d-block col-12 img-fluid mh"  src="../../../assets/wrapping2.jpg"
                                        alt="Second slide">
                                </div>
                                </div>
                        </div>
                        <div class="carousel-item " style="max-height: 300px;" >
                            <div style="display:flex">
                                <img class="d-block colImage img-fluid mh"  src="../../../assets/wrapping2.jpg"
                                    alt="First slide">
                                    <div class="none">

                                        <img class="d-block col-12 img-fluid mh" src="../../../assets/wrapping3.jpg"
                                            alt="Second slide">
                                    </div>
                                    </div>
                        </div>
                        <div class="carousel-item " style="max-height: 300px;" >
                            <div style="display:flex">
                                <img class="d-block colImage img-fluid mh"  src="../../../assets/wrapping3.jpg"
                                    alt="First slide">
                                    <div class="none">

                                        <img class="d-block col-12 img-fluid mh" src="../../../assets/wrapping1.jpg"
                                            alt="Second slide">
                                    </div>
                                    </div>
                        </div>
  
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
       
            </div>
        </div>

    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
