<div class="car">
    <app-banner title="Trade Window Tinting  "></app-banner>

    <div class="container">

        <div class="row" style="justify-content: center;">
            <div class="titleSection white saira" style="display: flex;">
                Trade Window Tinting 
            </div>
        </div>

        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                We have a large number of trade motor customers who trust us to deliver the very best service and quality for their forecourt vehicles.  
            </p>
            </div>

        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                We are conveniently located between Oxford and Witney in Freeland, a short drive from Oxford Motor Park. 
            </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Benefits of our trade service: </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Trade discounted pricing    </p>
        </div> 
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Priority service    </p>
        </div> 
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Rush jobs – We are here for you when you need us most urgently. 
            </p>
        </div> 
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                30 day credit terms, subject to status  
              </p>
        </div> 
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Priority customer service with a direct line to our workshop manager</p>
        </div> 
        <br>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                If you would like to discuss opening a trade relationship with us, please get in touch and we would be happy to discuss your needs </p>
        </div> 

        <div class="row" style="margin-top: 40px; ">
            <div class="col-xs-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="bottom: -35px !important;">
                        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>

                    </ol>
                    <div class="carousel-inner">
                        
                        <div class="carousel-item active " style="max-height: 300px !important;">
                             <div style="display:flex"> 
                            <img class="d-block colImage img-fluid_1 mh" width="600" height="600" src="../../../assets/tint/Tint 1.jpg"
                                alt="First slide">
                                
                                <div class="none">
                                    <img class="d-block col-12  img-fluid_1 mh"  src="../../../assets/tint/Tint 2.jpg"
                                        alt="Second slide">
                                </div>
                                </div> 
                         </div> 
                        <div class="carousel-item " style="max-height: 300px;" >
                             <div style="display:flex"> 
                                 <img class="d-block  colImage img-fluid_1 mh"  src="../../../assets/tint/Tint 2.jpg"
                                    alt="Second slide">
                                    <div class="none">
                                        <img class="d-block col-12  img-fluid_1 mh" src="../../../assets/tint/Tint 3.jpg"
                                            alt="Second slide">
                                    </div>
                             </div>  
                        </div>  
  
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
       
            </div>
        </div>


    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
