<div class="car">
    <app-banner title="AUTOMOTIVE TINTS"></app-banner>

    <div class="container">

        <div class="row" style="justify-content: center;">
            <div class="titleSection white saira" >
                Vehicle Window Tinting
            </div>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                We offer car window tinting, from our Oxfordshire based workshop. All work comes with a lifetime
                guarantee with a range of shades to choose from.
            </p>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                We are Oxfordshire’s largest tinting workshop, with years of car window tinting experience you can be sure of fantastic results which we back up with a lifetime guarantee .      </p>
<p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
    Our car window tinting service will not only improve the look and style of your vehicle but also reduce heat within the vehicle for a more comfortable driving experience.   </p>
<p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
    We offer a full range of shades of car window tint all for the same price.  
</p>
<p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
    All work is carried out at our specialist car window tinting workshop in Oxfordshire conveniently located between Oxford and Witney.  
 </p>

        </div>
        <div class="row item" >
            <h4 class="white saira subtitleSection text">
                3 Door hatchback
            </h4>
            <h4 class="white saira subtitleSection">
                £140
            </h4>
        </div>
        <div class="row item" >
            <h4 class="white saira subtitleSection text">
                5 Door hatchback or 2 door coupe
            </h4>
            <h4 class="white saira subtitleSection">
                £150
            </h4>
        </div>
        <div class="row item">
            <h4 class="white saira subtitleSection text">
                Saloon or large 5 door hatchback
            </h4>
            <h4 class="white saira subtitleSection">
                £170
            </h4>
        </div>

        <div class="row item" >
            <h4 class="white saira subtitleSection text">
                Estate, small 4×4 or crossover
            </h4>
            <h4 class="white saira subtitleSection">
                £195
            </h4>
        </div>

        <div class="row item" >
            <h4 class="white saira subtitleSection text">
                Large 4×4 or people carrier
            </h4>
            <h4 class="white saira subtitleSection">

                £215
            </h4>
        </div>

        <div class="row item" >
            <h4 class="white saira subtitleSection text">
                Headlight/rear light wrapping
            </h4>
            <h4 class="white saira subtitleSection">
                £60 per pair
            </h4>
        </div>
         
        
        <div class="descriptionSection white saira" style="padding-top: 25px;margin-left:15px;text-align: left;font-style: italic;">
            All above prices are for the B pillar back.
        </div>
        
        <div class="descriptionSection white saira" style="padding-top: 15px;margin-left:15px;text-align: left;font-style: italic;">
            All tints come with a <b style="margin-left: 5px;margin-right: 5px;">lifetime guarantee</b> from fading, pealing and bubbling.
        </div>
        <div class="descriptionSection white saira" style="padding-top: 15px;margin-left:15px;text-align: left;font-style: italic;">
            We will not be beaten on price locally. If you find a like for like service cheaper within 30 miles let us know and we will beat it.        </div>
        <div class="descriptionSection white saira" style="padding-top: 15px;margin-left:15px;text-align: left;font-style: italic;">
            Add an engine carbon clean to your booking for only £75 – restore lost power and economy.
        </div>

        <div class="row" style="justify-content: center;margin-top: 5vh;">
            <h5 class="white saira" style="text-align: center;font-size: 18px;">Hire car available for all bookings</h5>
    
        </div>
        <div class="row" style="justify-content: center;margin-top:2vh">
            <a href="https://oxfordperformanceautos.simplybook.it/v2/" class="btn buttonOrange " style="width:150px;justify-content: center;">
                <div class="saira" style="margin-bottom:0;margin-top: 2px;">BOOK NOW

                </div>
            </a>
        </div>

        <app-contact-banner></app-contact-banner>
        <div class="row " >
            <h4 class="white saira descriptionSection " style="margin-top: 15px;text-align: left !important;">
                Ask us about exclusive discounts for Military, Police, Fire, NHS staff, motor trade and Taxis
            </h4>

        </div>
        

        
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="bottom: -35px !important;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

                    </ol>
                    <div class="carousel-inner" >
                        
                        <div class="carousel-item active" style="max-height: 300px !important;">
                            <div style="display:flex">
                            <img class="d-block colImage img-fluid  mh"   src="../../../assets/automotiveTints1.jpg"
                                 alt="First slide">
                                 <div class="none">
                                     <img class="d-block col-12  img-fluid mh "    src="../../../assets/automotiveTints2.jpg" 
                                        alt="Second slide"> 
                                 </div>
                                </div> 
                        </div>
                        <div class="carousel-item " style="max-height: 300px;" >
                            <div style="display:flex">
                                <img class="d-block colImage img-fluid mh" src="../../../assets/automotiveTints2.jpg"
                                    alt="First slide">
                                    <div class="none">
                                        <img class="d-block  col-12 img-fluid mh" src="../../../assets/automotiveTints3.jpg"
                                           alt="Second slide">
                                    </div>
                                    </div>
                        </div>
                        <div class="carousel-item " style="max-height: 300px;" >
                            <div style="display:flex">
                                <img class="d-block colImage img-fluid mh"  src="../../../assets/automotiveTints3.jpg"
                                    alt="First slide">
                                    <div class="none">
                                        <img class="d-block col-12 img-fluid mh" src="../../../assets/automotiveTints4.jpg"
                                            alt="Second slide">
                                    </div>
                                    </div>
                        </div>
                        <div class="carousel-item " style="max-height: 300px;" >
                            <div style="display:flex">
                                <img class="d-block colImage img-fluid mh"  src="../../../assets/automotiveTints4.jpg"
                                    alt="First slide">
                                    <div class="none">
                                        <img class="d-block col-12  img-fluid mh" src="../../../assets/automotiveTints1.jpg"
                                            alt="Second slide">
                                    </div>
                                    </div>
                        </div>
  
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
       
            </div>
        </div>


    </div>

</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
