<meta
  name="facebook-domain-verification"
  content="hren0ilqqhywm4ubv96d3sdqa4mjin"
/>
<div class="car">
  <div class="car">
    <app-banner title="Home"></app-banner>
    <div class="container ">
  <div class="container">
    <div class="row" style="margin-top: 6vh">
      <h5 class="white saira" style="font-size: 23px">OUR SERVICES</h5>
    </div>

    <ul>
      <li class="white saira">
        <i class="material-icons">check</i>Wheel repair and refurbishment
      </li>
      <li class="white saira">
        <i class="material-icons">check</i>Window tinting
      </li>
      <li class="white saira">
        <i class="material-icons">check</i>ECU remapping
      </li>
      <li class="white saira">
        <i class="material-icons">check</i>Oxfordshire’s lowest price tyres
      </li>
      <li class="white saira">
        <i class="material-icons">check</i>Vinyl wrapping & de-chroming
      </li>
      <li class="white saira"><i class="material-icons">check</i>Valeting</li>
    </ul>

    <div class="row" style="justify-content: center; margin-top: 2vh">
      <h5 class="white saira" style="text-align: center; font-size: 18px">
        Hire car available for all bookings
      </h5>
    </div>
    <div class="row" style="justify-content: center">
      <a
        href="https://oxfordperformanceautos.simplybook.it/v2/"
        class="btn buttonOrange"
        style="width: 150px; justify-content: center"
      >
        <div class="saira" style="margin-bottom: 0; margin-top: 2px">
          BOOK NOW
        </div>
      </a>
    </div>
    <div class="row" style="margin-top: 40px">
      <div class="col-xs-12">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators" style="bottom: -35px !important">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div
              class="carousel-item active"
              style="max-height: 300px !important"
            >
              <div style="display: flex">
                <img
                  class="d-block colImage img-fluid mh"
                  src="../../../assets/home1.jpg"
                  alt="First slide"
                />
                <div class="none">
                  <img
                    class="d-block col-12 img-fluid mh"
                    src="../../../assets/home2.jpg"
                    alt="Second slide"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item" style="max-height: 300px">
              <div style="display: flex">
                <img
                  class="d-block colImage img-fluid mh"
                  src="../../../assets/home2.jpg"
                  alt="First slide"
                />
                <div class="none">
                  <img
                    class="d-block col-12 img-fluid mh"
                    src="../../../assets/home3.jpg"
                    alt="Second slide"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item" style="max-height: 300px">
              <div style="display: flex">
                <img
                  class="d-block colImage img-fluid mh"
                  src="../../../assets/home3.jpg"
                  alt="First slide"
                />
                <div class="none">
                  <img
                    class="d-block col-12 img-fluid mh"
                    src="../../../assets/home1.jpg"
                    alt="Second slide"
                  />
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container ">
<div class="row ">
  <h5 class="white saira" style="font-size: 30px">About us </h5>
</div>

      <p style="font-size: 18px">
        Established in 2012 Oxford Performance Autos is Oxfordshire’s premier wheel refurbishment and window tinting centre. We are conveniently located between Oxford and Witney. All our work is fully ensured and guaranteed as well as delivered with a quick turnaround for a great price. We are so confident that you won’t find a better service we offer a price guarantee for our alloy wheel refurbishments and window tints. If you can find a like for like service within 30 miles, we will beat it. We don’t just offer fantastic car alloy wheel refurbishments and window tinting, we also offer great value tyres, ECU remapping, vinyl wrapping and de-chroming.  
      </p>
</div>
<app-footer
  style="
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-top: 0 !important;
  "
></app-footer>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-127299225-1");
</script>
