<div class="image">
  <div class="background">
  <div class="titleSection saira white ">
    Oxfordshire’s best value tyres
  </div>
  <!-- <div class="descriptionSection saira white ">
    Need new tyres and want to save money, give us a try! 
  </div> -->
  <!-- <div class="descriptionSection saira white ">
    We regularly beat all
    natation and local tyre companies on price.
  </div> -->
</div>
</div>
<div class="steps-container">


  <!-- <h1>Oxfordshire’s best value tyres</h1>
  <h2>
    Need new tyres and want to save money, give us a try! We regularly beat all
    natation and local tyre companies on price. 
  </h2> -->
  <h2 class="subtitleSection saira white">
    Search for your tyres below and
    book a fitting slot online!
  </h2>

  <!-- <h3 style="padding-top:20px" class="saira white ">Step by Step guide to save money on your new tyres</h3> -->
  <div class="step-item-container">
    <div class="item">
      <div class="number">
        <span>1</span>
      </div>
      <div class="text saira">
        Search our website to see how cheap our prices are for brand new tyres
        in Oxfordshire, we regularly beat black circle, kwikfit, Halfords, ATS
        and all local suppliers.
      </div>
    </div>
    <div class="item">
      <div class="number">
        <span>2</span>
      </div>
      <div class="text saira">
        Pick the tyres you want and book an appointment for fitting on our website.
      </div>
    </div>
    <div class="item">
      <div class="number">
        <span >3</span>
      </div>
      <div class="text saira ">
        Secure your appointment & tyres with a £20 deposit when booking. Pay the remaining balance on collection
      </div>
    </div>
    <div class="item">
      <div class="number">
        <span>4</span>
      </div>
      <div class="text saira">
        Have your great value tyres fitted quickly and professionally by our team.
      </div>
    </div>
  </div>
</div>