<div class="car">
    <app-banner title="VALETING"></app-banner>

    <div class="container">
        <div class="row" style="justify-content: center;">
            <p class="white saira descriptionSection" style="padding-bottom: 0;margin-bottom: 0;text-align: center;">
                Professional vehicle valeting offered from our Oxfordshire based workshop.
            </p>
        </div>

        <div class="row" style="margin-top: 0;">
            <p class="white saira descriptionSection">
                We offer a huge range of valet services ranging from maintenance cleans to full paint correction and
                ceramic coatings as well as odour removal and specialist cleaning for convertible roofs.
            </p>
        </div>

        <div class="row">
            <h4 class="white saira subtitleSection">
                Mini Valet £47.99
            </h4>
        </div>
        <ul style="padding-bottom: 0;margin-bottom: 8px;">
            <li class="white saira"><i class="material-icons">check</i> Car is snow foamed</li>
            <li class="white saira"><i class="material-icons">check</i> Wheels are cleaned with fall out remover &
                non-acidic wheel cleaner</li>
            <li class="white saira"><i class="material-icons">check</i> Car is two bucket hand washer</li>
            <li class="white saira"><i class="material-icons">check</i> Car is towel dried with absorbing drying towel
            </li>
            <li class="white saira"><i class="material-icons">check</i> Exterior/Interior windows cleaned</li>
            <li class="white saira"><i class="material-icons">check</i> Interior vacuumed</li>
            <li class="white saira"><i class="material-icons">check</i> Dashboard and interior dressed</li>
            <li class="white saira"><i class="material-icons">check</i> Door seals wiped down</li>
            <li class="white saira"><i class="material-icons">check</i> Tyres dressed</li>
        </ul>

        <div class="row">
            <h4 class="white saira subtitleSection">
                Full Valet £95
            </h4>
        </div>
        <ul style="padding-bottom: 0;margin-bottom: 8px;">
            <li class="white saira"><i class="material-icons">check</i> Mini Valet +</li>
            <li class="white saira"><i class="material-icons">check</i> Glue and Tar removed from paint work</li>
            <li class="white saira"><i class="material-icons">check</i> Paint work is clay barred</li>
            <li class="white saira"><i class="material-icons">check</i> Car is hand polished</li>
            <li class="white saira"><i class="material-icons">check</i> Interior is detailed</li>
            <li class="white saira"><i class="material-icons">check</i> Car upholstery (Carpets & Seats) Wet vacuumed to
                remove stains and deep dirt removed</li>
        </ul>

        <div class="row">
            <h4 class="white saira subtitleSection">
                Extras
            </h4>
        </div>
        <ul style="padding-bottom: 0;margin-bottom: 8px;">
            <li class="white saira"><i class="material-icons">check</i> Spray wax £7.50 – Wax enhances the paintwork on
                the car and gives it the sleek finish (mini or full valets)</li>
            <li class="white saira"><i class="material-icons">check</i> 8 week paint protection £15 – Seals in the clean
                finish for 8 week (Only with Mini Valets)</li>
            <li class="white saira"><i class="material-icons">check</i>1 year paint protection £25 – Dirt and rain will
                roll of the paintwork, the special blend offers unbelievable gloss levels whilst protecting the bodywork
                (Only with Full Valet)</li>
            <li class="white saira"><i class="material-icons">check</i> Headlight Restoration £40</li>
            <li class="white saira"><i class="material-icons">check</i> Engine Bay Detailed £30</li>

        </ul>

        <div class="row" style="justify-content: center;margin-top:2vh">
            <a href="https://oxfordperformanceautos.simplybook.it/v2/" class="btn buttonOrange "
                style="width:150px;justify-content: center;">
                <div class="saira" style="margin-bottom:0;margin-top: 2px;">BOOK NOW

                </div>
            </a>
        </div>

        <app-contact-banner></app-contact-banner>
        <div class="row ">
            <h4 class="white saira descriptionSection " style="margin-top: 15px;text-align: left !important;">
                Professional Vehicle Valeting Offered From Our Oxfordshire Based Workshop. Please contact us for price
                details.
            </h4>

        </div>






    </div>

</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>