.title{
    padding-top:60px;
    text-align: center;
    
}

.image{
    margin-top:92px;
    background-image: url("../../../assets/backgroundtitle.png");
    
    // background-position: center;
    background-repeat: cover;
    height:180px;
    text-align: center;

}
.background{
    background-color: rgba(244, 158, 0, 0.91);
    height:180px;
    //border-top: 2px solid rgba(244, 158, 1, 1) !important;
}

.title{
    margin-top:50px;
    
}

.orange{
    color:orange;
}

.white{
    color:white;
}


.saira{
    font-family: 'Saira', sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
}

.titleSection{
    font-size: 30px;
    font-weight: 600 !important;
}

@media (max-width: 992px) {
    .image{
        margin-top:57px;
    }
}
