<div class="car">


<div class="container">
<div class="row" style="padding-top:20vh;justify-content: center;">
<h2 class="title saira white" style="text-align: center;">
    THANK YOU FOR THE ORDER #{{this.order}}!
</h2>
</div>
<div class="row" style="justify-content: center;">
    <h6  class="saira white" style="margin-top:1vh;text-align: center;max-width: 80vh;">
        We will now navigate you to the online appointment booking site where you could set the appointment of our specialists to fit the tyres.
    </h6>
</div>
<div class="row" style="justify-content: center;margin-top:2vh">
    <a [routerLink]="['/tyresearch']" class="btn buttonOrange " style="float:right" >
        <div style="margin-bottom:0;margin-top: 2px;">BOOK NOW
           
        </div>
    </a>
</div>



</div>
<div style="height:400px"></div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>



