<div class="car">
    <app-banner title="PROPERTY TINTS"></app-banner>
        <div class="container ">
            <div class="row title saira white descriptionSection" style="text-align: center;">
    
                <p style="justify-content: center;margin-bottom: 0">
                    Oxford Performance Autos are pleased to offer residential and commercial window tinting. We offer darkened or mirrored film for glass, films for toughened and shatter proof glass. Weather it’s to improve an aesthetic look or increase security our team are here to help.
                </p>
            </div>
    
            <div class="row title saira white descriptionSection" style="text-align: center;padding-top:0;margin-top:0">
    
                <p style="justify-content: center;margin-bottom: 0;">
    
                    We offer free no obligation on site quotes, one of our professional team will discuss your requirements and measure your glass, we also offer free samples.
    
                </p>
            </div>
    
            <div class="row title saira white descriptionSection" style="text-align: center;justify-content: center;padding-top:0;margin-top:0">
    
                <p style="justify-content: center;text-align: center !important;">
    
                    All work comes with a lifetime guarantee against bubbling, pealing and fading to ensure it says looking great.
                </p>
            </div>
    
            <!-- <div class="row" style="justify-content: center;margin-top:2vh">
                <a href="https://oxfordperformanceautos.simplybook.it/v2/" class="btn buttonOrange " style="width:150px;justify-content: center;" >
                    <div  class="saira" style="margin-bottom:0;margin-top: 2px;">BOOK NOW
                       
                    </div>
                </a>
            </div> -->
            <app-contact-banner></app-contact-banner>
            <div class="row " >
                <h4 class="white saira descriptionSection " style="margin-top: 15px;text-align: left !important;">
                    Ask us about exclusive discounts for Military, Police, Fire, NHS staff, motor trade and Taxis
                </h4>
    
            </div>
            
    
            
            
    
        </div>
    </div>
    <app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
