<div class="car">
    <app-banner title="Wheel refurbishment FAQ "></app-banner>

    <div class="container">

        <div class="row" style="justify-content: center;">
            <div class="titleSection white saira" style="display: flex;">
                Alloy wheel refurbishment FAQ 
            </div>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px">What is better powder coating or wet paint?  </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                Without a doubt powder coating is how wheels should be refurbished, this is a powered paint which is sprayed on to a hot wheel and then baked in the oven, it offers a far stronger and more durable finish. Every single major car manufacture powder coats their wheels when they leave the factory.
            </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Do you take the tyres off? </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                Yes absolutely! This is essential to get a good finish, especially around the tyre valve. We chemically strip our wheels and then sand blast them to get the best possible finish, this cannot be done with the tyres on the car. Do not settle for a touch up job where the tyres are left on, get it done right!  
            </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px">My wheels have corrosion can you take care of that? </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Of course we can, we fully remove the corrosion by chemically stripping your wheels and then sand blasting them for the perfect finish. It is essential that the corrosion is removed, it cannot just be sanded back and painted over, it will just come back. Our process fully eliminates it. If you have corrosion on your wheels only a chemical strip with cure it
            </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> IS your work guaranteed?  </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Yes, all our wheel refurbishments come with a 12 month guarantee.              </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Do you ‘smart repair’ alloy wheels? </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                We do not offer this service, choosing instead to fully refurbish the wheel. A smart repair involves sanding back part of the wheel and blowing some wet paint and lacquer over the face of the wheel without removing the tyre. This is no substitute for a full professional powder coat refurbishment. Get it done right the first time by using us!  </p>
        </div> 
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Why should I get my car wheels refurbished at Oxford Performance Autos?  </h5>
          </div>
        <div class="row">
                <p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                We are a long standing and trusted brand in the Oxfordshire area, conveniently located between Oxford and Witney, only a few miles from Oxford Motor Park. All our work is fully insured and guaranteed and thanks to our price guarantee you can be sure you are getting a great deal. In 2020 a £50,000 refurbishment of our equipment ensured we have the very best facility in Oxfordshire for wheel refurbishments.
            </p>  
        </div>
    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
