.content {
  margin-top: 60px;
  h4 {
    font-size: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .filter-container {
    .filter {
      margin: 0px;
      padding: 0px;
      margin-right: 10px;
      input {
        min-width: 50px;
        padding: 5px;
      }
    }
  }
}

.title {
  margin-top: 5vh;
}

.products {
  display: flex;
  background:#1c1c1c;
}

.items {
  display: grid;
  text-align: center;
}

.filtersSeccionTitle {
  text-decoration-line: none;
}

.white{
  color:white;
}

.buttonFilter {
  display: flex;
  justify-content: space-between;
  color: black;
  text-decoration-line: none;
}

.buttonFilter:hover {
  color: #f57c00;
}
.buttonOrange{
  background:#f57c00;
  color:white;
  font-weight: 500;
 border-radius: 2px;
 outline: #f57c00;
 &:hover{
   filter: opacity(0.9);
 }
}

.filters {
  margin-left: 2vh;
  min-width: 270px;
  margin-right: 2vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.filtersSeccion {
  transition: all 0.35s ease;
}

.text-align {
  text-align: center;
}

.pad {
  margin-left: 3px;
}

.search-button {
  cursor: pointer;
  a {
    height: 38px;
    background: #f57c00;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;
    &:hover {
      background: #c76500;
    }
  }
}

.addtocart {
  margin-top: 1px;
}

.addtocartButton {
  width: 100%;
  margin-top: 2vh;
  height: 38px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.cardContent {
  width: 18rem;
  margin-left: 5vh;
  margin-top: 5vh;
}
.card {
  min-width: 288px;
}

hr.fancy-line:after {
  top: -0.5em;
  height: 1em;
}

hr.fancy-line:before {
  content: "";
  height: 0.5em;
  top: -0.5em;
  z-index: 999;
}

hr {
  display:none;
  margin-top: 5px;
}

@media (max-width: 1000px) {
  .products {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .cardContent {
    width: 18rem;
    margin-left: 0;
    margin-top: 5vh;
  }
}

@media (max-width: 1300px) {
  .products {
    display: block;
  }

  .filters {
    margin-left: 2vh;
    width: 100%;
    padding-right: 2vh;
  }
}
@media (max-width: 767px) {
  .search-button {
    justify-content: center;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.bar {
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.buttons {
  float: left;
}

.butBar {
  background: white;
  border: 0;
}

label {
  font-weight: 500;
  margin-bottom: 0;
}

.card-title {
  min-height: 72px !important;
}

.filt {
  background: #1c1c1c;
  justify-content: center;
  padding-bottom: 20px 0;
  //     margin-left: 22.5vh;
  //     margin-right: 17.5vh;
}

hr{
  display: none;
}

.contFilt {
  display: flex;
  margin-left: 9vh;
  padding-top: 6px;
  padding-bottom: 7px;
}

.filterField {
  border: 1px solid grey;
  width: 100%;
  border-radius: 2px;
  min-height: 38px;
}
.white{
  color:white;
}

// @media (max-width: 820px) {
//     // .contFilt{
//     //     flex-direction: column;
//     //     margin-left: 9vh;
//     //     padding-top: 6px;
//     //     padding-bottom: 7px;

//     // }

//     .filterRow{
//         margin-left: -30px;
//     }

//     .contFilt{
//         flex-direction: column;
//         margin-left: 9vh;
//         padding-top: 6px;
//         padding-bottom: 7px;

//     }

//     .filt{
//         margin-left: 12.5vh;
//         margin-right: 7.5vh;
//     }

// }

// @media (max-width: 485px) {
//     .contFilt{
//         flex-direction: column;
//     }
//     label{
//         text-align:left;
//     }

//     .filterRow{
//         text-align:center;
//     }
//     .but{

//     }

// }

input {
  overflow: visible;
}

.button-container {
  display: flex;
  flex-direction: column;
  button {
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background: #f57c00;
    font-size: 16px;
    color: #fff;
    border: 0px;
    i {
      font-size: 22px;
    }
    &:hover {
      background: #c76500;
      color: #fff;
    }
  }
}

::ng-deep .cdk-overlay-dark-backdrop {

  background: rgba(0,0,0,.92);
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

@media (max-width: 600px) {
 
  h3 {
    font-size: 12px;
  }
 
}

h3 {
  font-size: 18px;
  text-align: center;
}