<div class="car">
    <app-banner title="ENGINE CARBON CLEANING"></app-banner>

    <div class="container">
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 0;margin-bottom: 0;">
                We offer engine carbon cleaning from our Oxfordshire based workshop, our state of the art equipment uses a mixture of hydrogen and Oxygen through your cars engine to bond onto harmful carbon build ups and remove them.
            </p>
        </div>

        <div class="row">
            <h4 class="white saira subtitleSection">
                What are the benefits?
            </h4>
        </div>
            <ul style="padding-bottom: 0;margin-bottom: 8px;">
                <li class="white saira"><i class="material-icons">check</i> Cleans and maintains engine, EGR and DPF</li>
                <li class="white saira"><i class="material-icons">check</i> Restores performance</li>
                <li class="white saira"><i class="material-icons">check</i> Reduces emissions</li>
                <li class="white saira"><i class="material-icons">check</i> Restores mpg’s</li>
                <li class="white saira"><i class="material-icons">check</i> Prevents problems before they happen</li>
            </ul>

            
        <div class="row">
            <h4 class="white saira subtitleSection">
                When should I clean my engine?
            </h4>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 0;margin-bottom: 0;text-align:left">
                Our service can help prevent EGR/DPF faults as well as other expensive engine problems and is designed to be carried out before these issues arise to help prevent them. We recommend an engine is cleaned every 10,000 miles or 12 months. Act now to stop problems before they happen.

            </p>
        </div>

        <div class="row">
            <h4 class="white saira subtitleSection">
                How much does an engine Carbon clean cost?
            </h4>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 0;margin-bottom: 0;">
                Our standard engine carbon clean costs £99 and takes around an hour to complete.
            </p>
        </div>
        
                    <div class="row" style="justify-content: center;margin-top:40px">
                        <a href="https://oxfordperformanceautos.simplybook.it/v2/" class="btn buttonOrange " style="width:150px;justify-content: center;" >
                            <div class="saira" style="margin-bottom:0;margin-top: 2px;">BOOK NOW
                               
                            </div>
                        </a>
                    </div>

                    <app-contact-banner></app-contact-banner>
                    <div class="row " >
                        <h4 class="white saira descriptionSection " style="margin-top: 15px;text-align: left !important;">
                            Ask us about exclusive discounts for Military, Police, Fire, NHS staff, motor trade and Taxis
                        </h4>
            
                    </div>      
            
                    
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-xs-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators" style="bottom: -35px !important;">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            
                                </ol>
                                <div class="carousel-inner" style="justify-content: space-around;">
                                    
                                    <div class="carousel-item active" style="max-height: 300px !important;">
                                        <div style="display:flex">
                                        <img class="d-block colImage img-fluid_1 minWidth"  src="../../../assets/engine1.png"
                                            alt="First slide">
                                            <div class="none">
                                                <img class="d-block col-12 img-fluid_1 minWidth"   src="../../../assets/engine2.jpg"
                                                    alt="Second slide">

                                            </div>
                                            </div>
                                    </div>
                                    <div class="carousel-item " style="max-height: 300px;" >
                                        <div style="display:flex">
                                            <img class="d-block colImage iimg-fluid_1 minWidth"    src="../../../assets/engine2.jpg"
                                                alt="First slide">
                                                <div class="none">
                                                    <img class="d-block col-12 img-fluid_1 minWidth"   src="../../../assets/engine1.png"
                                                        alt="Second slide">
                                                </div>
                                                </div>
                                    </div>
              
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                   
                        </div>
                    </div>
            

    </div>

</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
