<div class="car">
  <app-banner title="Back window tint: Mercedes-Benz E-Class"></app-banner>
  <div class="container ">back_window_tint
    
<br>
<br>

<div class="row ">
  <h5 class="white saira" style="font-size: 30px"> Back window tint: Mercedes-Benz E-Class </h5>
</div>

  <h6 class="white saira" style="font-size: 25px"> About</h6>
      <p style="font-size: 15px">
        The W212 and S212 Mercedes-Benz E-Class series is the fourth-generation of the E-Class range of executive cars which was produced by Mercedes-Benz between 2009 and 2016 as the successor to the W211 E-Class.      </p>
      <p style="font-size: 15px">
        Before being introduced in March 2009 for Europe and in July 2009 for North America, the car was announced to the press at the 2009 North American International Auto Show and put on public display at the 2009 Geneva Motor Show.      </p>
      <p style="font-size: 15px">
        Flash-forward to 2010 when an estate body style became available to all markets, though the estate body style was available in Europe since August 2009.      </p>
 
  <h6 class="white saira" style="font-size: 25px"> E63 AMG Model </h6>
      <p style="font-size: 15px">
        The E 63 AMG sedan was unveiled at the 2009 New York International Auto Show. Much like the C63 AMG, the new E63 is more extensively modified, with a wider front axle, heavily revised suspension, and more distinct body panels.
        Additionally, the styling has been altered for both aesthetic and practical purposes. The AMG side skirts and rear apron give the E63 more aggressive styling, and the larger air apertures on the front of the car allow for more air intake to the aspirated 6.2 litre V8. We can also take note of the the wider, flared front wheel arches which accommodate the AMG front axle.      </p>
  <h6 class="white saira" style="font-size: 25px"> Our Work</h6>
      <p style="font-size: 15px">
        We did a B-pillar back tint on a W212 E63 AMG Mercedes. View our work in the images below: </p>

        <div class="row" style="margin-top: 40px;">
          <div class="col-xs-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators" style="bottom: -35px !important;">
                      <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>

                  </ol>
                  <div class="carousel-inner">
                      
                      <div class="carousel-item active" style="max-height: 300px !important;">
                           <div style="display:flex"> 
                          <img class="d-block colImage img-fluid_1 mh"  src="../../../assets/Mercedes/tumblr_inline_pmk5ka6p2t1wwlyii_1280.jpg"
                              alt="First slide">
                              
                              <div class="none">
                                  <img class="d-block col-12  img-fluid_1 mh"  src="../../../assets/Mercedes/tumblr_inline_pmk5kaNuVL1wwlyii_1280.jpg"
                                      alt="Second slide">
                              </div>
                              </div> 
                       </div> 
                      <div class="carousel-item " style="max-height: 300px;" >
                           <div style="display:flex"> 
                               <img class="d-block colImage img-fluid_1 mh"  src="../../../assets/Mercedes/tumblr_inline_pmk5kaNuVL1wwlyii_1280.jpg"
                                  alt="Second slide">
                                  <div class="none">
                                      <img class="d-block col-12  img-fluid_1 mh" src="../../../assets/Mercedes/tumblr_inline_pmk5kaNuVL1wwlyii_1280.jpg"
                                          alt="Second slide">
                                  </div>
                                  </div>  
                      </div>  

                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
     
          </div>
      </div>


  </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-127299225-1');
</script>