<div class="car">
    <app-banner title="Window Tinting FAQ  "></app-banner>

    <div class="container">

        <div class="row" style="justify-content: center;">
            <div class="titleSection white saira" style="display: flex;">
                Window Tinting FAQ  
            </div>
        </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                The below FAQ guide should answer most of your window tinting questions, if not just give us a call we are here to help.             </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px">Why should I get my car windows tinted?  </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                There are lots of reasons to choose car window tinting, they don’t only look great but they also reduce heat into the vehicle keeping it cooler in sunlight. All our window tints come with a UV filter too.             </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Is car window tinting legal?  </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important;">
                Yes absolutely! There is no law governing the tints of the rear windows of the car, however the law does state that the front windows must let through 70% of light and the windscreen must let through 75% of light. Our staff can guide you through this further.  
            </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px">Does my car have window tint fitted to the inside or outside?  </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                All window tint is fitted to the inside of the car, although you may see in some photos us working on the outside, this is due to the ease of cutting and shaping the film on the outside of the glass first before you window tint is fitted to the inside of the car.              </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Do you need to take my car apart to tint it?   </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                No, absolutely not! A skilled window tint installer, such as our staff, can tint a car without needing to take the door cards off or remove a fixed parcel shelf.       
            </p>
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Can I choose the shade of my car window tinting?  </h5>
          </div>
        <div class="row">
            <p class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                Yes you can and this does not affect the price, we stock light smoke (70%) Mid smoke (50%) dark smoke (20%) and limo black (5%)  
            </p>
        </div> 
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Do you offer a mobile service?   </h5>
          </div>
        <div class="row">
                <p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                    No and we do not recommend using any company that offers mobile window tinting. You simply cannot replicate the same high quality window tint working outside that you can in a professional workshop 
                </p>  
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> Why should I get my car tinted at Oxford Performance Autos?   </h5>
          </div>
        <div class="row">
                <p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                    We are a long standing and trusted brand in the Oxfordshire area, conveniently located between Oxford and Witney, only a few miles from Oxford Motor Park. All our work is fully insured and guaranteed and thanks to our price guarantee you can be sure you are getting a great deal. 
                </p>  
        </div>
        <div class="row ">
            <h5 class="white saira" style="font-size: 30px"> How long does window tinting take and can I wait?   </h5>
          </div>
        <div class="row">
                <p  class="white saira descriptionSection" style="padding-bottom: 10px;margin-bottom: 0;text-align: left !important">
                    A typical window tint on your car takes between 2 and.4 hours, we offer a waiting area with Wi-fi for customers to use or alternatively we offer a hire car.  
                </p>  
        </div>
    </div>
</div>
<app-footer style="margin-top: 0 !important;padding-top: 0 !important;border-top:0 !important"></app-footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127299225-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-127299225-1');
</script>
